body{
    margin: 10px;
}
.bookList{
    margin: 0 auto;
    border: 1px blue solid;
}
.bookDiv{
    border: 1px solid gray;
    margin: 0 auto;
    padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.hrDesign{
    width: 100%;
    background-color:black;
}
.bookImg{
    display: block;
    margin-left: auto;
    margin-right: auto
}
.bookName{
    font-size: large;
    margin-top: 20px;
}
.bookAuthor{
    color: royalblue;
    font-size: small;
}
.bookPrice{
    color: seagreen;
}